body{
    background-color: black;
    color: lightGreen;
}

input{
    background-color: #313131;
    color: lightgreen;
    padding: 6px;
    margin: 5px;
    border: solid 2px lightgreen;
    border-radius: 10px;
    box-shadow:0 0 15px 4px rgb(94, 94, 94);
}

form{
    font-family: sans-serif;
}

button{
    color: lightGreen;
    font-family: sans-serif;
    font-weight: bold;
    padding: 6px;
    margin: 7px;
    border: solid 2px lightgreen;
    border-radius: 10px;
    box-shadow:0 0 15px 4px rgb(120, 120, 120);
    padding:10px;
    background-color:#3F51B5;
    width:25%;

}